generated
tsconfig.tsbuildinfo
# compiled output
/dist
/build
build
/node_modules
node_modules
# Serverless directories
.serverless
.prisma
# Build
.esbuild
.vscode

# production
/build

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# config.*
config.dev.*
config.prod.*
# Tests
/coverage
/.nyc_output

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*